<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">3D scanning at your fingertips</h2>
                <hr class="light">
                <p class="text-faded">3D Printing offers quick and easy access to a physical design from a digitized mesh file. Transferring a physical model back into a digitized mesh is much less accessible in a desktop platform. We sought to create our own desktop 3D scanner that could generate high fidelity, colored and textured meshes for 3D printing or including models in computer graphics.</p>
                <a href="https://github.com/Tessellate3D" target="_blank"class="btn btn-default btn-xl">Get Started</a>
            </div>
        </div>
    </div>
</section>
