<section id="contribute">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contribute to Tessellate</h2>
                <hr class="primary">
                <p>Fork us on GitHub, build out your own scanner, and expand the project.</p>
            </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay="0.1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>

    </div>
</section>
