<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Tessellate Team</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <img src="/img/headshots/trey.jpg" alt="">
                    <h3>Trey Fortmuller</h3>
                    <p class="text-muted">Engineering Physics, 2019</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <img src="/img/headshots/nathan.jpg" alt="">
                    <h3>Nathan Le</h3>
                    <p class="text-muted">CS, 2019</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <img src="/img/headshots/suneel.jpg" alt="">
                    <h3>Suneel Belkhale</h3>
                    <p class="text-muted">EECS, 2020</p>
                </div>
            </div>
        </div>
    </div>
</section>
